# Dependencies
node_modules
.pnp
.pnp.js

# Next
.next
out
build
dist
next-env.d.ts

# PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
public/fallback-*.js

# Prisma
prisma/migrations/dev
.env
.env.local
.env*.local

# Logs / OS
*.log
.DS_Store
.vscode
.idea
tsconfig.tsbuildinfo
